<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="form-group">
          <label for="name"> <b>Filter By:</b>  &nbsp;</label>
          <!-- <input type="text" id="name" [(ngModel)]="propName"> -->
          <select name="filterby" id="filterby" [(ngModel)]="propName">
            <option value="status">status</option>
            <option value="instanceType">instanceType</option>
            <option value="name">name</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="filter"><b>Filter:</b> &nbsp;</label>
          <input type="text" id="filter" [(ngModel)]="filterStatus">  
        </div>
      </div><div class="row">
        <div class="col-md-12">
          App Status:  <strong>{{appStatus | async}}</strong> 
        </div>
      </div>
      <hr>
      <ul class="list-group">
        <li class="list-group-item"
        *ngFor="let server of servers | filter:filterStatus:propName"
        [ngClass]="getStatusClasses(server)">
        <span class="badge" style="float: right; background-color: darkslategrey; color: white;">
          {{server.status}}
        </span>
        <strong>{{server.name | shorten: 20}}</strong> |
         {{server.instanceType | uppercase}} |
          {{server.started | date: 'medium' | uppercase}}
        </li>
      </ul>
    </div>
  </div>
</div>